<div class="login-page">
    <div class="login-content">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput>
          <mat-icon matPrefix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput >
          <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>

        <button class="button-session" mat-flat-button >Iniciar Sesión</button>

      </div>


    </div>
</div>

